Why is 1.1.1.1.1 (5 octets) considered a valid IP address?

## UPDATE

😆 It appears that it only checks for the presence of a string.  Apparently `donut` is a valid IP address.

The only things I can get to fail validation are non-String types, like `5`, and `false`.

I'm finding these in the gem [json-fuzz-generator](https://github.com/pboling/json-fuzz-generator/blob/master/lib/json/fuzz/generator/keyword/format.rb#L30), which I am working on rewriting to use `json_schemer` instead of `json-schema`.

Overall the conversion of the test suite was simple, and the specs, post-transition from `json-schema` to `json_schemer`, were initially 96% passing!  And for at least three of those tests the test in `json-schema` was incorrect, while `json_schemer` validated correctly.

I'm just skipping the things that are not validating properly in `json_schemer` for now.

NOTE: This tool for time formats is amazing: https://ijmacd.github.io/rfc3339-iso8601/

## DETAILS

### `ip-address`

```
(byebug) schema
{"$schema"=>"http://json-schema.org/draft-04/schema#", "type"=>"object", "properties"=>{"a"=>{"type"=>"string", "format"=>"ip-address"}}}
(byebug) actual
{"a"=>"1.1.1.1.1"}
(byebug) JSONSchemer.schema(schema).valid?(actual)
true
```

I have the same question about 1, 2, 3, and 5+ octets, as these all are considered valid, but should not be according to the [relevant spec](https://json-schema.org/draft/2020-12/draft-bhutton-json-schema-validation-00#rfc.section.7.3.4) which says it must be 4 octets:

> ipv4:
> An IPv4 address according to the "dotted-quad" ABNF syntax as defined in [RFC 2673, section 3.2](https://json-schema.org/draft/2020-12/draft-bhutton-json-schema-validation-00#RFC2673)

- `1`
- `1.1`
- `1.1.1`
- `1.1.1.1.1`
- `1.1.1.1.1.1.1.1.1.1.1.1.1`

Additionally, out of range strings are considered valid, e.g.:

- `1.1.1.300`

I don't understand this last one as I can see a [spec fixture](https://github.com/davishmcclurg/json_schemer/blob/332cb2e5ae7125c04f29eed27548150d3f04f188/JSON-Schema-Test-Suite/tests/draft3/optional/format/ip-address.json#L18) for a similar out of range condition in this repo, and it is marked as invalid.

Also worth noting since I just read about potential for collab with json-schema - this is how they solve the IP Address format issue:
https://github.com/voxpupuli/json-schema/blob/master/lib/json-schema/attributes/formats/ip.rb

Still finding more invalid IPv4 addresses that are considered valid:

- `1.1.1.1b`
- `b1.1.1.1`

### `date-time`

... Most of the failures here were errors on the `json-schema` side, and `json_schemer` was validating correctly. Exceptions follow:

- `2010-01-01T12:00:00,1Z` is a valid [ISO-8601](https://ijmacd.github.io/rfc3339-iso8601/), but not RFC-3339, which is what JSONSchema claims to require.

Hey @pboling—cool to hear about your refactor and things mostly working. Thanks for opening issues for problems you're running into.

Any chance the IP address issue is that you're using `ip-address` format instead of `ipv4`?

I've only got my phone until next week so I won't be able to look into anything too deeply. I'll check out the `date-time` issue when I'm back.

It is definitely using `ip-address` format, **but** it is using Draft 4 for all specs.  Perhaps that was a change between Draft 4 and later Drafts/versions.

I think `ip-address` was removed in draft 4, with `ipv4` as a replacement:

Draft 4: https://json-schema.org/draft-04/draft-fge-json-schema-validation-00#rfc.section.7.3.4

Draft 3: https://datatracker.ietf.org/doc/html/draft-zyp-json-schema-03#anchor27

Draft 3 isn't supported by jsonschemer

Yep, you're right.  This is a long dead hold-over that was doing way too much work.  Thanks!  I just found the same here: https://datatracker.ietf.org/doc/html/draft-zyp-json-schema-03

Did you still have concerns about `date-time`?

I'll make a new issue for that.